.redshift-center {
 	float: none;
 	margin-left: auto;
 	margin-right: auto;
 }

 .form-horizontal .redshift-control-label{
 	float: left;
 	padding-top: 5px;     
 	text-align: right;
 	width: 160px;
 }
 .form-horizontal .redshift-controls{
 	margin-left: 180px;
 }
 .form-horizontal .redshift-legend{
 	margin-top: 20px;
 	padding-left: 25px;
 	margin-bottom: 20px;
 }
 .redshift-help-inline-addon{
 	margin-left: 5px;
 	border-left: 2px solid #0080FF;
 }
 .redshift-form-actions{
 	margin-bottom: 20px;       
 	padding-top: 20px;
 	padding-right: 25px;
 }

 .redshift-form-horizontal-addon{

 	border :2px solid #F4F4F4;
 }